body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    background: #e1e1e1;
    margin: 0;
}

.page {
    background: #ffffff;
    border: 1px solid #cccccc;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.container {
    width: 70%;
}