.history{
    @extend .page;
     width: 90%;

     table{
        border-spacing: 0;
        border-collapse: collapse;
        display: table;
        border-color: gray;
        td, th {
            display: table-cell;
            vertical-align: inherit;
        }
        th {
            font-weight: bold;
            text-align: left;
            vertical-align: bottom;
            border-bottom: 2px solid #ddd;
            padding: 8px;
            line-height: 1.42857143;
        }
        tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
        }
        td{
            padding: 8px;
            line-height: 1.42857143;
            border-top: 1px solid #ddd;
        }
        thead {
            display: table-header-group;
            vertical-align: middle;
            border-color: inherit;
        }
        tbody {
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
        }
     }
     .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 14px;
        .td-data{
            width: 100px;text-align: center;
        }
        .table-center{
            text-align: center;
        }
    }

}